@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.header {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 150px 50px 150px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 15px;
}

a {
    font-size: 18px;
    color: #e5e7eb;
}

.main {
    display: flex;
    background-color: #1f2937;
    padding: 50px 150px 100px 150px;
    gap: 20px;
    height: 200px;
}

.text { 
    flex-direction: column;
    flex: 1;
}

.main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.submain {
    font-size: 18px;
    color: #e5e7eb;
}

.image {
    font-size: 18px;
    color: #e5e7eb;
    background-color: grey;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.main.button {
    background-color: #3882f6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    height: 40px;
    width: 120px;
    padding: 0px;
    margin: 0px;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 150px 100px 150px;
    gap: 40px;
    
}

.second-header {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937; 
}

.second-footer {
    display: flex;
    gap: 50px;
}

.block {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 150px;
}

.second-image {
    border-radius: 12px;
    border: 2px solid #3882f6;
    height: 150px;
}

.subtext {
    font-size: 18px;
    color: black;
    text-align: center;
}

.third {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 100px 250px 100px 250px;
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}

.author {
    font-size: 24px;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}